{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}Mejores Clientes{% endblock %}
{% block page_content %}

<div class="page-header">
    <h1>Mejores Clientes!</h1>


 <table class="table table-bordered table-hover">
 <thead>
    <tr> <td><strong>Monto</strong></td>
        <td><strong>Cliente</strong></td>
    </tr>
</thead>
<tbody>

    {% for linea in cliente_mas_gasto %}
        </tr>
        {% for campo in linea %} 
            <td>{{campo}}</td>
        {% endfor %}
    {% endfor %}

</tbody>
</table>
</div>
{% endblock %}


