{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Productos{% endblock %}
{% block page_content %}

<div class="page-header">
    <h1>Lista de Productos!</h1>
 <table class="table table-bordered table-hover">
 <thead>
    <tr>
        <td><strong>Codigo</strong></td>
        <td><strong>Producto</strong></td>
        <td><strong>Cliente</strong></td>
        <td><strong>Cantidad</strong></td>
        <td><strong>Precio</strong></td> 
    </tr>
</thead>
<tbody>
    {% for linea in lista %}
        </tr>
        {% for campo in linea %} 
                    <td>{{campo}}</td>
                {% endfor %}
            {% endfor %}
</tbody>
</table>
</div>
{% endblock %}


